@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Yellowtail&display=swap");
#order-header {
  width: 100%;
  height: 560px;
  background-image: url("../../IMG/Bread.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  overflow: hidden; }
  #order-header .overflow {
    width: 100%;
    height: 100%;
    position: relative; }
    #order-header .overflow #oval {
      background-color: #f7f5e6;
      border: 7px solid #343957;
      border-radius: 100%;
      width: 90%;
      height: 300%;
      position: absolute;
      left: -30%;
      bottom: -100%;
      z-index: 1; }
    #order-header .overflow .content {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 2;
      left: 170px;
      height: 100%;
      width: 820px; }
      #order-header .overflow .content h1 {
        font-family: 'Yellowtail', cursive;
        font-size: 130px;
        font-weight: 300;
        margin-top: 95px;
        margin-bottom: 0px; }
      #order-header .overflow .content h3 {
        margin-left: 11px;
        margin-top: 25px;
        margin-bottom: 49px;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 3px; }
      #order-header .overflow .content h1, #order-header .overflow .content h3 {
        color: #343957; }
      #order-header .overflow .content a {
        text-decoration: none;
        text-align: center;
        padding: 25px 0;
        width: 440px;
        color: #fff;
        background-color: #f7882f;
        border-radius: 50px;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-left: 15px; }

#QuickIcons {
  display: flex;
  color: #52658f;
  width: 100%;
  justify-content: space-around;
  padding: 150px 90px 80px; }
  #QuickIcons .icon {
    text-align: center;
    width: 380px; }
    #QuickIcons .icon h3 {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 3px; }
    #QuickIcons .icon .fas {
      font-size: 80px;
      margin-bottom: 15px; }

#Products {
  height: 800px;
  background-color: #f7f5e6;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px; }
  #Products .slick-arrow {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    border: none;
    background-color: #52658f;
    color: #f7f5e6;
    font-size: 50px;
    padding: 5px;
    transform: translateY(-30px); }
    #Products .slick-arrow .fa-chevron-left {
      transform: translateX(-5px); }
    #Products .slick-arrow .fa-chevron-right {
      transform: translateX(5px); }
    #Products .slick-arrow:focus {
      outline: none; }
  #Products .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%; }
    #Products .slider h3 {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 3px;
      margin: 0 auto 100px;
      color: #52658f; }
  #Products a {
    text-decoration: none;
    text-align: center;
    padding: 25px 0;
    width: 440px;
    color: #fff;
    background-color: #52658f;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 auto; }
  #Products .slick-carousel {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto; }
    #Products .slick-carousel .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #Products .slick-carousel .product h3 {
        margin-top: 25px;
        margin-bottom: 75px; }
      #Products .slick-carousel .product:focus {
        outline: none; }
      #Products .slick-carousel .product span {
        display: flex;
        justify-content: center;
        border: 7px solid #52658f;
        width: 390px;
        height: 390px;
        border-radius: 100%; }
        #Products .slick-carousel .product span img {
          height: 100%; }
        #Products .slick-carousel .product span .cupcakes {
          transform: translateX(-31px); }

#Reviews {
  padding: 0 100px;
  text-align: center; }
  #Reviews h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #52658f; }
  #Reviews .review-slick .slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center; }
    #Reviews .review-slick .slick-dots .slick-active button {
      background-color: #52658f; }
      #Reviews .review-slick .slick-dots .slick-active button:focus {
        outline: none; }
    #Reviews .review-slick .slick-dots li {
      margin: 0 50px; }
      #Reviews .review-slick .slick-dots li button {
        font-size: 0;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #a9b1c4; }
        #Reviews .review-slick .slick-dots li button:focus {
          outline: none; }
  #Reviews .review-slick .review-item:focus {
    outline: none; }
  #Reviews .review-slick .review-item .customer {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    #Reviews .review-slick .review-item .customer h4 {
      font-size: 1.9rem;
      font-weight: 600;
      letter-spacing: 3px;
      color: #52658f;
      margin-right: 150px; }
  #Reviews .review-slick .review-item .review {
    display: flex;
    justify-content: center;
    color: #343957; }
    #Reviews .review-slick .review-item .review p {
      font-size: 1.8rem;
      font-weight: 200;
      width: 80%;
      margin-left: 30px;
      margin-top: 60px; }
    #Reviews .review-slick .review-item .review span {
      width: 80px; }
      #Reviews .review-slick .review-item .review span p {
        margin: 0 auto;
        text-align: center;
        font-size: 100px;
        font-family: "Yellowtail", cursive; }

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

.overflow-hidden {
  overflow: hidden; }
