@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Yellowtail&display=swap");
header {
  background-color: #52658f;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0; }

/* Added styling for the new container -Luke */
.header-container {
  display: flex;
  /* Margin set to 0 auto will always center 
    the element on the page giving equel margins to 
    its left and right - Luke */
  margin: 0 8.75rem;
  /* Given the width around 80% or the screen width
    this allows us a clear width to aligh items on the page as we
    can now set any container to this value to align elements 
    vertically - Luke */
  width: 80%;
  justify-content: space-between;
  align-items: center; }

.name {
  font-size: 4.375rem;
  margin-top: 0;
  margin-bottom: 0; }

.main-nav {
  display: flex;
  /* Ive adjusted this from baseline to center so they line up with the concept - Luke */
  /* align-items: baseline; */
  align-items: center;
  flex-basis: auto;
  list-style: none;
  /* Set the ul to take up around 70% of its container
    judging this again based by eye on the concept - Luke */
  width: 65%;
  /* By adding justify content to the flex box we can choose how
    items are space out, so between will space the items evenly
    with the gaps between them - Luke */
  justify-content: space-between;
  /* Added a little extra padding between the logo and the nav ul - Luke */
  padding-left: 60px; }

.ul,
.li {
  list-style: none;
  align-items: baseline;
  flex: 1; }

a {
  text-decoration: none; }

footer {
  display: flex;
  background-color: #52658f;
  color: #f7f5e6;
  /* changed to space between to fit the frame of the container - Luke */
  justify-content: space-between;
  /* justify-content: center; */
  flex-direction: column;
  /* Added height to match as close as possible - Luke */
  height: 300px;
  /* Added padding to give even space between top and bottom of the container - Luke */
  padding: 25px 0; }

/* ----------------------- */
/* .footer-nav,
li         {
    flex-direction: column;
    padding-left: 0;
} */
.footer-nav {
  flex-direction: column;
  padding-left: 0;
  /* Used list-style-type to remove the bullet points from the ul */
  list-style-type: none; }

/* I have rectified this, by adding the comma between the two you are targeting 
both elements seperatly, without the comma you are directing the styling
to target the li.
But what you wanted was to remove the padding of the ul and set its flex direction to column
_ Luke */
/* ------------------------ */
.cols {
  display: flex;
  /* Have changed this to space-between so the elements are pushed to the edge 
    of the container - Luke */
  justify-content: space-between;
  /* justify-content: space-around; */
  /* Ive added the width to this cols element to align it with the width of the navbar
    and given it margin of 0 auto to place it on the middle of the page - Luke */
  width: 80%;
  margin: 0 8.75rem; }

/* Added bigger margin under the h3 in the footer - Luke */
.cols h3 {
  margin-bottom: 25px; }

/* Pseudo element for the > in the html, styled to be bold compared to the a tag itself - Luke */
.col-3 ul li a::before {
  content: ">";
  font-weight: bold; }

/* Ive added a bigger line height to make it closer to the concept - Luke */
footer .cols p,
footer .cols a {
  font-size: 1.1rem; }

footer p {
  margin-bottom: 0; }

footer .copy p {
  font-size: 0.9rem; }

/* added the styling to the a tags of col-3 to match the styling of the p
in other columns - Luke */
.col-3 a {
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 2px; }

/* Added a bigger margin to adjust the sppace between the details  */
.col-1 p {
  margin-bottom: 30px; }

.copy {
  align-self: center;
  justify-content: center; }

h2 {
  text-align: center;
  color: #52658f;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px; }

h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0; }

.information h3 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #52658f; }

footer h3 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px; }

/* Ive added a dont weight to the p elements to make them skinnier by adjusting the font weight
_ Luke */
.footer p {
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 2px; }

.main-nav .fas {
  color: orange;
  font-size: 35px;
  border: #343957 solid 15px;
  border-radius: 50%;
  text-align: center;
  background-color: #343957;
  transition: transform 0.2s ease; }

.nav-weight {
  font-weight: 500; }

header .main-nav .fas:hover {
  transform: scale(1.2);
  box-shadow: 0px 5px 40px -10px #f7882f; }

/* ---- Navigation ---- */
.name {
  font-family: "Yellowtail", cursive;
  color: #f7f5e6;
  text-align: center;
  font-weight: 300; }

.main-nav a {
  font-size: 1rem;
  color: #f7f5e6;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center; }

/* Pseudo-classes ------------------ */
a:link {
  color: #f7f5e6; }

a:visited {
  color: #f7f5e6; }

a:hover {
  color: #f7f5e6; }

.underline:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 3px solid;
  margin: 2px auto;
  transition: all 0.3s linear 0s; }

a:hover:after {
  color: orange;
  width: 100%; }

/* ================================= 
  Media Queries
==================================== 
 @media (min-width: 769px) {

    .main-header,
    .main-nav, 
     {
      display: flex;
    }
    
    .main-header {
      flex-direction: column;
      align-items: center;
    }	
    
    }
    
    @media (min-width: 1175px) {
    
     .main-header {
      flex-direction: row;
      justify-content: space-between;
    }
        
    } */
.border {
  border-top: 3px solid #52658f;
  position: relative;
  width: 30%;
  align-self: center;
  margin-bottom: 60px; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 100px;
  margin: 0 8.75rem; }

.about h3 {
  text-align: center;
  color: #52658f;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: #52658f;
  flex-basis: 100%;
  margin-bottom: 32px; }

.contents {
  display: flex;
  justify-content: center; }

.circles {
  position: relative;
  height: 415px;
  width: 430px; }

/* image div - Luke*/
.img-circle {
  width: 325px;
  height: 325px;
  border: white solid 5px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 30px;
  z-index: 3; }

.img-circle img {
  height: 110%;
  transform: translate(-70px, -30px); }

/* image div - Luke */
.circle1 {
  /* Create the circle */
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: #f7f5e6;
  position: absolute;
  left: 150px;
  top: 15px;
  z-index: 1; }

.circle2 {
  /* Create the circle */
  width: 275px;
  height: 275px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: #52658f;
  position: absolute;
  left: 125px;
  top: 130px;
  z-index: 2; }

.about p {
  letter-spacing: 1.3px;
  font-weight: 300;
  color: #52658f;
  margin-top: 78px; }

.text {
  max-width: 600px;
  margin: 2%;
  font-size: 1.25em; }

.order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 100px;
  padding-top: 0; }

.order h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #52658f;
  text-align: center;
  position: relative;
  margin-bottom: 0; }

.button {
  text-decoration: none;
  text-align: center;
  padding: 1.1359375rem 0;
  width: 19.6875rem;
  color: #fff;
  background-color: #f7882f;
  border-radius: 3.125rem;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 35px; }
  .button:hover {
    background-color: #e99b5c;
    box-shadow: 0px 5px 40px -10px #f7882f; }

#order-header {
  width: 100%;
  height: 25rem;
  background-image: url("../../IMG/Bread.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  overflow: hidden; }
  #order-header .overflow {
    width: 100%;
    height: 100%;
    position: relative; }
    #order-header .overflow #oval {
      background-color: #f7f5e6;
      border: 0.25rem solid #343957;
      border-radius: 100%;
      width: 90%;
      height: 250%;
      position: absolute;
      left: -30%;
      bottom: -18.75rem;
      z-index: 1; }
    #order-header .overflow .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      z-index: 2;
      left: 0;
      height: 100%;
      width: 51.25rem;
      margin: 0 8.75rem;
      padding: 3.125rem 0; }
      #order-header .overflow .content h1 {
        font-family: "Yellowtail", cursive;
        font-size: 5.70rem;
        margin-top: 0px;
        margin-bottom: 0px; }
      #order-header .overflow .content h3 {
        margin-left: 0.5rem;
        margin-top: 1.5625rem;
        margin-bottom: 2.1875rem; }
      #order-header .overflow .content h1,
      #order-header .overflow .content h3 {
        color: #343957; }
      #order-header .overflow .content a {
        text-decoration: none;
        text-align: center;
        padding: 1.1359375rem 0;
        width: 19.6875rem;
        color: #fff;
        background-color: #f7882f;
        border-radius: 3.125rem;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.1875rem;
        margin-left: 0.5rem; }
        #order-header .overflow .content a:hover {
          background-color: #e99b5c;
          box-shadow: 0px 5px 40px -10px #f7882f; }

#QuickIcons {
  display: flex;
  color: #52658f;
  width: 100%;
  justify-content: space-around;
  padding: 6.25rem 8.2479375rem 4.0625rem; }
  #QuickIcons .icon {
    text-align: center;
    width: 23.75rem; }
    #QuickIcons .icon .fas {
      font-size: 3.75rem;
      margin-bottom: 1.875rem; }

.cake {
  transition: transform 0.2s linear; }
  .cake:hover {
    transform: scale(1.2);
    transition: transform 0.2s linear; }

.pastries {
  transition: transform 0.2s linear; }
  .pastries:hover {
    transform: scale(1.2);
    transition: transform 0.2s linear; }

.bread {
  transition: transform 0.2s linear; }
  .bread:hover {
    transform: scale(1.2);
    transition: transform 0.2s linear; }

#Products {
  height: 37.5rem;
  background-color: #f7f5e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 6.25rem; }
  #Products .slick-arrow {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 100%;
    border: none;
    background-color: #52658f;
    color: #f7f5e6;
    font-size: 2rem;
    padding: 0.3125rem;
    transform: translateY(-1.875rem);
    cursor: pointer; }
    #Products .slick-arrow:hover {
      background-color: #2f3950; }
    #Products .slick-arrow .fa-chevron-left {
      transform: translateX(-0.15625rem); }
    #Products .slick-arrow .fa-chevron-right {
      transform: translateX(0.15625rem); }
    #Products .slick-arrow:focus {
      outline: none; }
  #Products .slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%; }
    #Products .slider h3 {
      margin: 0 auto;
      color: #52658f; }
  #Products a {
    text-decoration: none;
    text-align: center;
    padding: 1.1359375rem 0;
    width: 19.6875rem;
    color: #fff;
    background-color: #52658f;
    border-radius: 3.125rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 auto; }
    #Products a:hover {
      background-color: #2f3950;
      box-shadow: 0px 5px 40px -10px #52658f; }
  #Products .slick-carousel {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25rem;
    height: 21.875rem; }
    #Products .slick-carousel .slick-list {
      height: 25.89125rem; }
    #Products .slick-carousel .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 3.125rem;
      transition: all .2s linear; }
      #Products .slick-carousel .product:hover {
        transform: scale(1.1);
        transition: all .2s linear; }
      #Products .slick-carousel .product h3 {
        margin-top: 1.5625rem; }
      #Products .slick-carousel .product:focus {
        outline: none; }
      #Products .slick-carousel .product span {
        display: flex;
        justify-content: center;
        border: 0.3125rem solid #52658f;
        width: 17.8125rem;
        height: 17.8125rem;
        border-radius: 100%; }
        #Products .slick-carousel .product span img {
          height: 100%; }
        #Products .slick-carousel .product span .cupcakes {
          transform: translateX(-1.9375rem); }

#Reviews {
  padding: 90px 6.25rem;
  text-align: center; }
  #Reviews h3 {
    color: #52658f; }
  #Reviews .slick-list {
    margin-right: 50px; }
  #Reviews .review-slick .slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0 50px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    transition: transform .2s ease; }
    #Reviews .review-slick .slick-dots:hover {
      transform: scale(1.2);
      transition: transform .2s ease; }
    #Reviews .review-slick .slick-dots button:hover {
      background-color: #343957; }
    #Reviews .review-slick .slick-dots .slick-active button {
      background-color: #52658f; }
      #Reviews .review-slick .slick-dots .slick-active button:focus {
        outline: none; }
    #Reviews .review-slick .slick-dots li {
      display: flex;
      align-items: center;
      margin: 0 30px; }
      #Reviews .review-slick .slick-dots li button {
        font-size: 0;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #a9b1c4; }
        #Reviews .review-slick .slick-dots li button:focus {
          outline: none; }
  #Reviews .review-slick .review-item:focus {
    outline: none; }
  #Reviews .review-slick .review-item .customer {
    display: flex;
    justify-content: flex-end; }
    #Reviews .review-slick .review-item .customer h4 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      color: #52658f;
      margin-right: 100px; }
  #Reviews .review-slick .review-item .review {
    display: flex;
    justify-content: center;
    color: #343957; }
    #Reviews .review-slick .review-item .review p {
      width: 80%;
      margin-left: 30px;
      margin-top: 60px; }
    #Reviews .review-slick .review-item .review span {
      width: 80px; }
      #Reviews .review-slick .review-item .review span p {
        margin: 0 auto;
        text-align: center;
        font-size: 100px;
        font-family: "Yellowtail", cursive; }

#Product-Section {
  margin: 50px 8.75rem;
  text-align: center; }
  #Product-Section .title {
    padding-top: 20px; }
  #Product-Section .divider {
    display: block;
    content: "";
    height: 3px;
    width: 30%;
    background-color: #52658f;
    margin: 0 auto; }
  #Product-Section .products {
    display: flex;
    justify-content: space-between;
    margin: 48.5px 0; }
    #Product-Section .products .Product {
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: stretch;
      width: 22%; }
      #Product-Section .products .Product h3 {
        margin: 0;
        height: 10%;
        color: #52658f; }
      #Product-Section .products .Product h4 {
        height: 10%;
        margin-bottom: 0;
        color: #52658f; }
      #Product-Section .products .Product .description {
        height: 30%;
        color: #343957; }
      #Product-Section .products .Product .flavor {
        height: 10%;
        color: #343957; }
      #Product-Section .products .Product .Product-img {
        height: 250px;
        min-height: 250px;
        width: 250px;
        border-radius: 100%;
        overflow: hidden;
        margin: 15px 0 30px;
        border: 0.3125rem solid #52658f; }
        #Product-Section .products .Product .Product-img img {
          height: 100%; }

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }
  * h1 {
    font-weight: 300; }
  * h3 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 3px; }
  * h4 {
    font-size: 1.125rem;
    font-weight: 700; }
  * p,
  * a {
    font-size: 1.125rem;
    font-weight: 200; }

.overflow-hidden {
  overflow: hidden; }
