@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Yellowtail&display=swap');
@import 'Partials/Attributes', 'Partials/Header', 'Partials/QuickIcons', 'Partials/ProductsCarousel', 'Partials/Reviews';

// To access fonts, use below styles 

// Roboto is main text, adjust font weight to fit titles and paragraphs
// font-family: 'Roboto', sans-serif;

// Yellowtail is the fancy font used for the name 'Bakers Dozen'
// font-family: 'Yellowtail', cursive;

// To access page colours use the variables from the attributes partial 

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.overflow-hidden {
    overflow: hidden;
}