.contact {
    display: flex;
    justify-content: center; 
    /* use center instead of space evenly as the 
    contact flex container is only holding the form, which will then be in the center.
    /* width: 100%; My bad, giving this one width 100% breaks the screen 
    as i set box-sizing to border box by default, if that wasnt set then this 
    would have been correct */
    flex-direction: column;
    align-items: center;
    margin: 50px 8.75rem;
    h3 {
        color: $Main;
    }
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border: #52658f 3px solid;
    width: 100%;
    padding: 32px;
    /* padding: 32px; switch this on to create the space around the form, 
    which gives the fields breathing room  */
    border-radius: 35px;
}


.label {
    /* display: inline-block; */
    color: #52658f;
    font-weight: 500;
    /* align-items: center; */
    /* justify-content: flex-start; */
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
  }

  .contact input {
    /* align-content: center; */
    width: 100%;
    height: 32px;
    /* margin-right: 5px; */
    padding: 3px 10px;
    margin-bottom: 10px;
    margin-top: 1px;
    border: #52658f 3px solid;
    border-radius: 20px;
}

.contact input:focus {
    outline: none;
    border: #f7882f 3px solid;
    border-radius: 20px;
}

.row {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    /* align-self: center; */
    /* margin-bottom: 5px; */
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    align-items: flex-start;
    /* align-self: center; */
    /* margin-right: 5px; */
}

/* Heres the route to a lot of your problems, by using the "," between the two 
selectors you are targeting them individualy, which means youre overriding your 
styles set above for row and col ones below, by removing the "," you will be saying 
you want to target the subject within the row */

/* Also you are selecting the class of subject by typing .subject, in your html you 
have used ids, so youll want to target #subject */
/* So should look like this

.row #subject {

} 
*/

/* removed the comma between the two to target the correct elements */
.row #subject {
   /* text-align: start; */
   /* justify-content: center; */
   width: 100%;
   /* align-items: center; */
   
}

/* removed the comma between the two to target the correct elements */
.subject {
    text-align: start;
    /* justify-content: center; */
    width: 100%;
    /* align-items: center; */
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

textarea {
    padding: 10px;
    width: 100%;
    height: 300px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    border-width: 3px;
    /* align-self: center; */
    border: #52658f 3px solid;
    border-radius: 20px;
    border-bottom-right-radius: 0;
}

textarea:focus {
    outline: none;
    border: #f7882f 3px solid;
    border-radius: 20px;
    border-bottom-right-radius: 0;
}

.rowgdpr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.rowgdpr input {
    width: 5%;
    margin: 0;
}


.contact form .button {
    // Fixed the submit button -- Luke
    text-decoration: none;
    text-align: center;
    padding: 1.1359375rem 0;
    width: 19.6875rem;
    color: #fff;
    background-color: #f7882f;
    border-radius: 3.125rem;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.1875rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    height: auto;
    margin-top: 10px;
    border-style: none;
}

/* MAP CSS */

#mapid { 
    height: 400px;
    width: 400px;
    margin: auto;
    margin-bottom: 100px;
    border: #52658f solid 3px;
    border-radius: 10%;
}