.shop-item {
    img {
        height: 100px;
    }
    span {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        background-color: $Main;
        color: $Cream;
    }
    .value {
        border: $Contrast 3px solid;
        height: 32px;
        width: 40px;
        border-radius: 50px;
    }
}