.shop-item {
    img {
        height: 100px;
    }
    // input {
    //     // width: 24.09px;
    // }
    span {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        background-color: $Main;
        color: $Cream;
    }
}