#Product-Section {
    margin: 50px 8.75rem;
    text-align: center;
    .title {
       padding-top: 20px;
       color: $Main;
    }
    .divider {
        display: block;
        content: "";
        height: 3px;
        width: 30%;
        background-color: $Main;
        margin: 0 auto;
    }
    .products {
        display: flex;
        justify-content: space-between;
        margin: 48.5px 0;
        .Product {
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
            width: 22%;
            h3 {
                margin: 0;
                height: 10%;
                color: $Main;
            }
            h4 {
                height: 10%;
                margin-bottom: 0;
                color: $Main;
            }
            .description {
                height: 30%;
                color: $Contrast;
            }
            .flavor {
                height: 10%;
                color: $Contrast;
            }
            .Product-img {
                height: 250px;
                min-height: 250px;
                width: 250px;
                border-radius: 100%;
                overflow: hidden;
                margin: 15px 0 30px;
                border: 0.3125rem solid $Main;
                img {
                    height: 100%;
                }
            }
        }
    }
}