#Products {
  height: 37.5rem;
  background-color: $Cream;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 6.25rem;
  .slick-arrow {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 100%;
    border: none;
    background-color: $Main;
    color: $Cream;
    font-size: 2rem;
    padding: 0.3125rem;
    transform: translateY(-1.875rem);
    cursor: pointer;
          &:hover {
            background-color: $Main-hvr;
          }
    .fa-chevron-left {
      transform: translateX(-0.15625rem);
    }
    .fa-chevron-right {
      transform: translateX(0.15625rem);
    }
    &:focus {
      outline: none;
    }
  }
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    h3 {
      margin: 0 auto;
      color: $Main;
    }
  }
  a {
    text-decoration: none;
    text-align: center;
    padding: 1.1359375rem 0;
    width: 19.6875rem;
    color: $Background;
    background-color: $Main;
    border-radius: 3.125rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 auto;
          &:hover {
            background-color: $Main-hvr;
            box-shadow: 0px 5px 40px -10px $Main;
          }
  }
  .slick-carousel {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25rem;
    height: 21.875rem;
    .slick-list {
      height: 25.89125rem;
    }
    .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 3.125rem;
      transition: all .2s linear;
          &:hover {
            transform: scale(1.1);
            transition: all .2s linear;
          }
      h3 {
        margin-top: 1.5625rem;
      }
      &:focus {
        outline: none;
      }
      span {
        display: flex;
        justify-content: center;
        border: 0.3125rem solid $Main;
        width: 17.8125rem;
        height: 17.8125rem;
        border-radius: 100%;
        img {
          height: 100%;
        }
        .cupcakes {
          transform: translateX(-1.9375rem);
        }
      }
    }
  }
}
