#Products {
  height: 800px;
  background-color: $Cream;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  .slick-arrow {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    border: none;
    background-color: $Main;
    color: $Cream;
    font-size: 50px;
    padding: 5px;
    transform: translateY(-30px);
    .fa-chevron-left {
      transform: translateX(-5px);
    }
    .fa-chevron-right {
      transform: translateX(5px);
    }
    &:focus {
      outline: none;
    }
  }
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
    h3 {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 3px;
      margin: 0 auto 100px;
      color: $Main;
    }
  }
  a {
    text-decoration: none;
    text-align: center;
    padding: 25px 0;
    width: 440px;
    color: $Background;
    background-color: $Main;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 auto;
  }
  .slick-carousel {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        margin-top: 25px;
        margin-bottom: 75px;
      }
      &:focus {
        outline: none;
      }
      span {
        display: flex;
        justify-content: center;
        border: 7px solid $Main;
        width: 390px;
        height: 390px;
        border-radius: 100%;
        img {
          height: 100%;
        }
        .cupcakes {
          transform: translateX(-31px);
        }
      }
    }
  }
}
