#QuickIcons {
  display: flex;
  color: $Main;
  width: 100%;
  justify-content: space-around;
  padding: 6.25rem 8.2479375rem 4.0625rem;
  .icon {
    text-align: center;
    width: 23.75rem;
    .fas {
      font-size: 3.75rem;
      margin-bottom: 1.875rem;
    }
  }
}
.cake {
    transition: transform 0.2s linear;
  &:hover {
      transform: scale(1.2);
      transition: transform 0.2s linear;
  }
}
.pastries {
  transition: transform 0.2s linear;
&:hover {
    transform: scale(1.2);
    transition: transform 0.2s linear;
}
}
.bread {
  transition: transform 0.2s linear;
&:hover {
    transform: scale(1.2);
    transition: transform 0.2s linear;
}
}
