#Reviews {
  padding: 0 100px;
  margin-bottom: 100px;
  h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $Main;
  }
  text-align: center;
  .review-slick {
    .slick-dots {
      list-style-type: none;
      display: flex;
      justify-content: center;
      .slick-active {
        button {
          background-color: $Main;
          &:focus {
            outline: none;
          }
        }
      }
      li {
        margin: 0 50px;
        button {
            font-size: 0;
          border: none;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: $MainOpa;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .review-item {
        &:focus {
            outline: none;
          }
      .customer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        h4 {
          font-size: 1.9rem;
          font-weight: 600;
          letter-spacing: 3px;
          color: $Main;
          margin-right: 150px;
        }
      }
      .review {
        display: flex;
        justify-content: center;
        color: $Contrast;
        p {
          font-size: 1.5rem;
          font-weight: 200;
          width: 80%;
          margin-left: 30px;
          margin-top: 60px;
        }
        span {
          width: 80px;
          p {
            margin: 0 auto;
            text-align: center;
            font-size: 100px;
            font-family: "Yellowtail", cursive;
          }
        }
      }
    }
  }
}
