#Reviews {
  padding: 90px 6.25rem;
  h3 {
    color: $Main;
  }
  text-align: center;
  .slick-list {
    margin-right: 50px;
  }
  .review-slick {
    .slick-dots {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding: 0 50px;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease;
      }
      button {
        &:hover {
          background-color: $Contrast;
        }
      }
      .slick-active {
        button {
          background-color: $Main;
          &:focus {
            outline: none;
          }
        }
      }
      li {
        display: flex;
        align-items: center;
        margin: 0 30px;
        button {
          font-size: 0;
          border: none;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: $MainOpa;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .review-item {
      &:focus {
        outline: none;
      }
      .customer {
        display: flex;
        justify-content: flex-end;
        h4 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 2px;
          color: $Main;
          margin-right: 100px;
        }
      }
      .review {
        display: flex;
        justify-content: center;
        color: $Contrast;
        p {
          width: 80%;
          margin-left: 30px;
          margin-top: 60px;
        }
        span {
          width: 80px;
          p {
            margin: 0 auto;
            text-align: center;
            font-size: 100px;
            font-family: "Yellowtail", cursive;
          }
        }
      }
    }
  }
}

#review-section {
  margin: 0 8.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  h3 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: $Main;
  }
}

.review-item {
  &:focus {
    outline: none;
  }
  .customer {
    display: flex;
    justify-content: flex-end;
    h4 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      color: $Main;
      margin-right: 100px;
    }
  }
  .review {
    display: flex;
    justify-content: center;
    color: $Contrast;
    p {
      width: 80%;
      margin-left: 30px;
      margin-top: 60px;
    }
    span {
      width: 80px;
      p {
        margin: 0 auto;
        text-align: center;
        font-size: 100px;
        font-family: "Yellowtail", cursive;
      }
    }
  }
}
